<div class="container">
  <div class="row">
      <% @posts.each do |post| %>
    <div class="col-xs-6">
        <div class="post">
          <h1><%= post.title %></h1>
          <p><%= post.content %></p>
          <div class="image-placeholder"></div>
          <p><%= post.category ? post.category.name : "sans catégorie" %></p>
        </div>
    </div>
      <% end %>
  </div>
</div>
