<div class="banner">
  <div>
    <h1>Trouvez votre chez avec nous</h1>
    <%#= simple_form_for :query, url: bars_map_path, method: :get do |f|%>
      <%#= f.input :business, label: false %>
    <%# end %>
  </div>
</div>
<div class="skills">
  <div class="skill">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quas.
  </div>
  <div class="skill">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quas.
  </div>
  <div class="skill">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quas.
  </div>
</div>
<div class="footer">
  Vouliez-vous plus de contenu ? Je peux le faire.
</div>
