<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Liste des posts</h1>
    </div>
    <div class="col-xs-12">
      <div class="line">
        <p>Titre</p>
        <p>Catégorie</p>
      </div>
      <% @posts.each do |post| %>
        <div class="line">
          <p><%= post.title %></p>
          <p><%= post.category ? post.category.name : post.category %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
